{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}


<h2 class="text-start animation-fade-in-3 mb-5">About me</h2>
<h3 class="text-start animation-fade-in-4 animation-fly-in-left">Here are all the infos about me.</h3>
<h5 class="text-start mt-3 comment-header-font animation-fly-in-right animation-fade-in-5">If there are more questions, <a href="/contact">contact me</a>.</h5>
<div class="row">
    <section class="pt-2 text-start" name="documentation">
        <p>
            <a class="btn col-1 btn-dark w-auto" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Dev-Details
            </a>
          </p>
          <div class="collapse text-start" id="collapseExample">
            <div class="card card-body bg-dark text-light mx-auto w-75">
              <p>This site is created with HTML, CSS, JavaScript, Python and Flask.</p>
              <p>Please login or create an account to see more of my work.</p>
              <p>This site is supposed to be a technical showcase.</p>
            </div>
          </div>
    </section>
</div>
<div class="buffer-1"></div>

<div class="accordion accordion-flush bg-dark-trans" id="accordionExample">
    <div class="accordion-item bg-dark-trans">
      <h2 class="accordion-header bg-secondary" id="headingOne">
        <button class="accordion-button bg-dark-trans text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Personal data
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
            <table class="table w-100 mx-auto text-light bg-dark-trans">
                <tr>
                    <th class="w-25">Full Name</th>
                    <td class="text-start">Chris Carsten Schmidt von Wuehlisch</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td class="text-start">March 17th, 1991</td>
                </tr>
                <tr>
                    <th>Residence</th>
                    <td class="text-start">Windhoek, Namibia</td>
                </tr>
                <tr>
                    <th>Nationality</th>
                    <td class="text-start">German</td>
                </tr>
            </table>

        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark-trans">
      <h2 class="accordion-header bg-secondary" id="headingTwo">
        <button class="accordion-button collapsed bg-dark-trans text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Education
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <table class="table w-100 mx-auto text-light bg-dark-trans">
                <tr>
                    <th class="w-25">School-leaving certficate</th>
                    <td class="text-start">Technical college entrance qualification (2014)</td>
                </tr>
                <tr>
                    <th>Formal training</th>
                    <td class="text-start">Industrial clerk in sales (2008 - 2011)</td>
                </tr>
                <tr>
                    <th>Private education degree</th>
                    <td class="text-start">IT-Systemadministrator (ILS, 2020)</td>
                </tr>
                <tr>
                    <th>Certificates</th>
                    <td class="text-start">Introduction to computer science (Harvard University), 
                        JavaScript Algorythms
                    </td>
                </tr>
            </table>

        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark-trans">
      <h2 class="accordion-header bg-secondary id="headingThree">
        <button class="accordion-button collapsed bg-dark-trans text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Job Experience
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table w-100 ws-100 mx-auto text-light bg-dark-trans">
                <tr>
                    <th class="w-25">Retail</th>
                    <td class="text-start">Deputy branch manager (2015-2020)</td>
                </tr>
                <tr>
                    <th>IT-Systemadministration</th>
                    <td class="text-start">First & Second Level IT-Support-Administrator (2020-2023)</td>
                </tr>
            </table>        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark-trans">
        <h2 class="accordion-header bg-secondary" id="headingThree">
          <button class="accordion-button bg-dark-trans text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Development skills
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table w-100 mx-auto text-light bg-dark-trans">
                <tr>
                    <th class="w-25">Languages I know</th>
                    <td class="text-start">C | C# | Python | SQL | JavaScript | HTML | CSS</td>
                </tr>
                <tr>
                    <th>I work with</th>
                    <td class="text-start">Unity-Engine | Flask | Databases | Bootstrap</td>
                </tr>
                <tr>
                    <th>I'm also familiar with</th>
                    <td class="text-start">VS-Code | GitHub | OOP</td>
                </tr>
            </table>       
        </div>
        </div>
      </div>
  </div>



<div class="buffer-1"></div>

    {%if warning is not undefined%}
    <div>
        <h3 class="mt-3 text-warning">{{warning}}</h3>
    </div>

    {%endif%}
</div>
</div>
    

{% endblock %}