{% extends "layout.html" %}

{% block title %}
    Comment
{% endblock %}

{% block main %}

<h1 class="site-header-font text-light mb-5">Your Comment</h1>

<section class="mb-3" name="documentation">
    <p>
        <a class="btn btn-secondary w-auto" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Dev-Details
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body box-shadow bg-dark text-light mx-auto w-75">
          <p>Comments are only allowed in english.</p>
          <p>Every comment will have custom and a imported profanity check.</p>
          <p>Every comment will be translated to englisch.</p>
          <p>The 'google_trans' API returns, which language was detected</p>
          <p>If the given language is not english, the automated translation will be displayed to the user.</p>
          <p>Try it, and copy this german comment into the textfield and try to send it:</p>
          <p class="text-warning">Dieser Kommentar ist auf deutsch geschrieben.</p>
        </div>
      </div>
</section>

<div class="row">
    <div class="card col-sm-12 col-md-8 mx-auto box-shadow-small mb-5 bg-dark">
        <div class="card-header text-light">Please comment in english.</div>
    <form action="/comment" method="post">
        <div class="card-text pt-5">
            {%if translation is defined%}
            <h3 class="text-warning">Foreign language detected.</h3>
            <h4 class="text-warning">Please check your automated translation.</h4>        
            <textarea name="comment" id="comment" cols="30" rows="8">{{translation}}</textarea>
            {%else%}
            <textarea name="comment" id="comment" cols="30" rows="8"></textarea>
            {%endif%}
            
            
        </div>
        <div class="card-footer">        
            <button type="submit" class="w-25 btn btn-secondary">Send</button>
            {%if warning is defined%}
                    <h3 class="text-warning mt-3">{{warning}}</h3>
            {%endif%}
        </div>
    </form>
    </div>

</div>


<script>
    document.querySelector(".prevent-default").on("keydown", function(e){
   if(e.keyCode === 13){
       e.preventDefault();
   }
});
</script>


{% endblock %}
