{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
<h2 class="text-start animation-fade-in-3 mb-5">Projects</h2>
<h3 class="text-start animation-fade-in-4 animation-fly-in-left">Here are my projects.</h3>
<h5 class="text-start mt-3 comment-header-font  animation-fade-in-5 animation-fly-in-right">Have a look around!</h5>
<section class="pt-2 text-start" name="documentation">
  <p>
      <a class="btn col-1 btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Dev-Details
      </a>
    </p>
    <div class="collapse text-start" id="collapseExample">
      <div class="card card-body bg-dark text-light mx-auto w-75">
        <p>Blog-posts can only be performed by an Admin.</p>
            <p>You can watch <a href="#" class="text-primary">this Video</a> if you want to see, how that works.</p>
            <p>The content is injected dynamicly with Jinja.</p>
      </div>
    </div>
</section>
{%if warning is defined%}
        <h3 class="text-warning">{{warning}}</h3>
        {%endif%}
<div class="buffer-1"></div>


    <div class="card mb-5 bg-dark-trans w-50 mx-auto box-shadow-light">
        <a target="_blank" href="https://play.unity.com/mg/other/exportwebgl"><img src="/static/Game1.png" alt="" class="card-img-top"></a>
      <div class="card-header">
        <h5 class="site-header-font text-light">OOP-Project | Unity</h5>
      </div>
      <div class="card-body pb-4">
        
        <div class="card-text bg-color-black">
            <h5>
            This is a small game i created while doing the 
            <a href="https://learn.unity.com/pathway/junior-programmer">'Junior Programmer'</a>
             pathway on 
             <a href="https://learn.unity.com/">'Unity learn'</a>.
            </h5>
            <h5>Here i learned working with arrays, list and dictionarys, as well as, the name might suggest, inheritance and instantiation.</h5>
        </div>
        <div class="card-text mt-3 mb-3">
          <h4 class="comment-text-font"></h4>
        </div>
        <div class="card-footer bg-color-blue">
          
          <p class="small comment-header-font"></p>
          
         
        
        </div>
      <hr class="text-light">

           
      </div>
    </div>

    <div class="buffer-1"></div>


    <div class="card mb-5 bg-dark-trans w-50 mx-auto box-shadow-light">
        <a target="_blank" href="/"><img src="/static/Portfolio_screenshot.png" alt="" class="card-img-top"></a>
      <div class="card-header">
        <h5 class="site-header-font text-light">Personal portfolio | Flask</h5>
      </div>
      <div class="card-body pb-4">
        
        <div class="card-text bg-color-black">
            <h5>
            You might recognize this one, since it's the very site you are currently on. 
            </h5>
            <h5>I learned a lot about web-development while working on this site.</h5>
            <h5>See the code <a href="https://github.com/ChrisdasB/Portfolio_Website">here.</a></h5>
        </div>
        <div class="card-text mt-3 mb-3">
          <h4 class="comment-text-font"></h4>
        </div>
        <div class="card-footer bg-color-blue">
          
          <p class="small comment-header-font"></p>
          
         
        
        </div>
      <hr class="text-light">

           
      </div>
    </div>
{% endblock %}
