<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
  <body class="bg-dark">
    <div class="container">
      <div class="card my-10">
        <div class="card-body">
          <h2 class="h3 mb-2">Hello {{username}},</h2>
          <h5 class="text-teal-700">thank you for contacting me via my <a target="_blank" href="https://google.com" target="_blank">portfolio</a>.</h5>
          <h5 class="text-teal-700">When i read your message, i come back to you.</h5>
          <h4 class="text-teal-700">All the best,</h5>
          <h4 class="text-teal-500">Chris Schmidt von Wuehlisch</h5>
          <hr>
          <div class="space-y-3">
            <h5 class="text-gray-700">
                Your message:
            </h5>
            <h5 class="text-gray-700">
                Subject: {{msg_title}}
            </h5>
            <h5 class="text-gray-700">
              {{msg_body}}
            </h5>
            
          </div>
          <hr>  
          <p class="text-gray-700">
            Here is a way to my <a target="_blank" href="https://google.com" target="_blank">portfolio</a>
          </p>       
        </div>
      </div>
    </div>
  </body>
</html>
